@import "partials/normalize"
@import "partials/typography"
@import "partials/grid"

@import "partials/variables"

body
    background: $black
    padding: 10px
    font-family: $source-sans-lt

.highlight
    color: $primary
    font-weight: 700

.section-title
    font-size: 2.6em
    font-family: $source-sans-bold
    color: darken($black, 10%)
    text-transform: uppercase
    line-height: 1.0
    margin: 10px auto 20px

.section-subtitle
    font-size: 1.5em
    font-family: $source-sans-bold
    color: darken($black, 10%)
    text-transform: uppercase
    line-height: 1.3
    margin: 0px auto
    border-bottom: 1px solid #b0b8c5

.timeline-progress
    background: transparent url(../images/timeline-bg.png) repeat-y center center
    // background-size: 400px 9px

.content-wrapper
    max-width: 1170px
    margin: auto

    .Header
        display: none

    .Body__top-colors
        display: flex
        align-items: center
        width: 100%

    .Body__top-color
        padding: 5px
        width: 100%

        &.top__color1
            background: $primary
        &.top__color2
            background: #031634
        &.top__color3
            background: #da222b

    .Body__content
        background: url(../images/paper-bg2.png) no-repeat top left, url(../images/paper-bg-bot.png) no-repeat bottom right
        margin-bottom: 40px
        margin-top: 10px
        padding: 0

    .Body__section
        padding: 15px 18px

    .Top
        text-align: right
        padding-bottom: 0
        &__buttons
            background: #031634
            color: $white
            padding: 4px 12px
            margin: 2px 0px 2px 8px
            font-size: 1.1em
            border-radius: 3px
            white-space: nowrap
            text-align: center
            text-decoration: none
            -webkit-transition: all 0.3s ease-in-out
            -moz-transition: all 0.3s ease-in-out
            transition: all 0.3s ease-in-out
            .text
                font-size: 0.75em
                text-transform: uppercase
                padding-left: 7px
                display: inline-block
                font-family: $source-sans
                text-align: right
                width: 0
                margin: 0
                padding: 0
                overflow: hidden
                vertical-align: middle
                -webkit-transition: all 0.3s ease-in-out
                -moz-transition: all 0.3s ease-in-out
                transition: all 0.3s ease-in-out
            &:hover
                .text
                    width: 100px

    .Aboutme
        margin: 5px auto 0px
        &__photo
            width: 200px
            height: 200px
            border-radius: 50%
            border: 5px solid $primary
            margin: 10px auto
            overflow: hidden
            background: $white
            &_img
                display: block
                width: 100%
                border-radius: 50%
                padding: 4px
                margin: auto
                -webkit-filter: blur(2px)
                -moz-filter: blur(2px)
                transition: all linear .3s
                &:hover
                    -webkit-filter: blur(0px)
                    -moz-filter: blur(0px)
        &__headline
            text-align: center
            font-size: 2.2em
            border-bottom: 1px solid $primary
            margin: 0
            line-height: 1.5
            margin-bottom: 5px
            .highlight
                font-family: $source-sans-bold
                font-size: 700
        &__headline2
            text-align: center
            font-size: 1.5em
            margin: 0
            color: #555555
        &__desc
            font-size: 1.2em
            margin-bottom: 0
            margin-top: 10px
            line-height: 1.2

    .Profile
        &__value
            margin-top: 8px

    .Skills
        &__type
            margin: 0
            text-transform: uppercase
            color: darken($black, 10%)
            font-family: $source-sans-bold
            border-bottom: 1px solid lighten($black, 50%)
        &__item
            .progress
                position: relative
                margin-bottom: 7px
                background-color: #f5f5f5
                border-radius: 4px
                -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1)
                box-shadow: inset 0 1px 2px rgba(0,0,0,.1)
                overflow: hidden
                &-bar
                    width: 100%
                    background: $primary
                    height: 25px
                    z-index: 1
                    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15)
                    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15)
                &-type
                    z-index: 3
                    position: absolute
                    background-color: rgba(25, 25, 25, 0.1)
                    top: 0
                    padding: 3px 10px
                    color: $white
                    font-family: $source-sans
                &-completed
                    z-index: 3
                    position: absolute
                    right: 0px
                    top: 0
                    padding: 3px 10px
                    font-family: $source-sans-bold

    .Project
        &__list 
            width: 100%
            display: block
            margin: 20px auto
            text-align: center
        &__item
            max-width: 300px
            margin-bottom: 30px
            float: left
            padding: 0px 5px
        &__name
            font-size: 1.4em
            margin: 12px auto 5px
            line-height: 1.1
            text-align: center
            font-family: $source-sans-bold
        &__image
            width: 100%
            box-shadow: 1px 1px 1px $meta-gray
        &__description
            margin: auto
            text-align: center
            p
                margin: 0
                font-size: 1.2em
                line-height: 1.1
        &__more
            background: $primary
            color: #FFF
            padding: 6px 15px
            font-size: 1.2em
            border-radius: 3px
            outline: none
            text-decoration: none
            &:hover
                background: darken($primary, 5%)
                transition: all ease-in-out .3s

    .Contact
        &__description
            font-size: 16px

    .Footer
        margin: 10 auto 40px
        p
            line-height: 1.2

        &__credit
            text-align: center
        &__thanks
            font-size: 3em
            font-family: $source-sans-bold


// ********* Media Queryies ************** //
@media (min-width:992px)
    .content-wrapper
        .Body__section
            position: relative
            padding: 15px 70px

        .Aboutme
            text-align: left
            &__headline
                text-align: left
                font-size: 4em
                line-height: 1.3
            &__headline2
                text-align: left
            &__photo
                &_img
                    padding: 6px